[submodule "_Deps/expected"]
	path = _Deps/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "_Deps/catch2"]
	path = _Deps/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "_Deps/benchmark"]
	path = _Deps/benchmark
	url = git@github.com:google/benchmark.git
