[submodule "_Deps/GoogleTest"]
	path = _Deps/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "_Deps/RangeV3"]
	path = _Deps/RangeV3
	url = https://github.com/ericniebler/range-v3.git
[submodule "_Deps/FmtLib"]
	path = _Deps/FmtLib
	url = https://github.com/turingcompl33t/fmtlib-release.git
[submodule "_Deps/Catch2"]
	path = _Deps/Catch2
	url = https://github.com/turingcompl33t/catch2-release.git
[submodule "_Deps/Boost"]
	path = _Deps/Boost
	url = https://github.com/turingcompl33t/boost-release.git
